# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
*.log

# Temporary files
*.tmp
*.temp
.cache/
